<label for="server_name">Server Name</label>
<input
    id="server_name"
    type="text"
    class="form-control"
    #serverNameInput>
<!--<input
    id="server_name"
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">-->
<!--<input
    id="server_name"
    type="text"
    class="form-control"
    [(ngModel)]="serverName">-->
<!--<p>{{ serverName }}</p>-->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer(serverNameInput)">Add Server
</button>
<button
    type="button"
    class="btn btn-warning"
    (click)="onChangeFirst()">Change First Element
</button>
<button
    type="button"
    class="btn btn-danger"
    (click)="onRemoveServer(this)">Destroy Server
</button>

<!--<p>{{ allowNewServer }}</p>-->
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{ serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">Server was created. Name is {{ serverNameInput.value }}<!--{{ serverName }}--></p>
<!--<p *ngIf="serverCreated; else noServer">Server was created. Name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>-->
<app-server *ngFor="let server of servers; let i = index" [serverItem]="server"><b>{{ i }}) </b><em #em>{{ server }}</em></app-server>
